.item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-top: 40px;
}

.author {
    letter-spacing: 3px;
    margin-top: 10px;
    font-weight: bold;
}

.item button {
    margin-top: 10px;
    background: none;
    border: none;
    outline: none;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}